MONGODB_URI=mongodb://sena:sena123@localhost:27017/sena_centro_formacion?authSource=admin
PORT=3000
NODE_ENV=development

# JWT — generar con: openssl rand -base64 64
# IMPORTANTE: deben ser distintos entre sí
JWT_ACCESS_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_access
JWT_REFRESH_SECRET=cambia_esto_por_un_secreto_largo_y_aleatorio_refresh
